.idea
/logs
/data
/.project
.docker-sync
/jenkins/jenkins_home

/logstash/pipeline/*.conf
/logstash/config/pipelines.yml

/.devcontainer/*
!/.devcontainer/devcontainer.example.json
!/.devcontainer/docker-compose.extend-example.yml

/nginx/letsencrypt

docker-compose.custom.yml

.DS_Store

.env
