NETWORKS_DRIVER=bridge
VOLUMES_DRIVER=local
PHP_FPM_PUID=#UID#
PHP_FPM_PGID=#UID#
APP_CODE_PATH_HOST=../code-engine/
APP_CODE_PATH_CONTAINER=/var/www
APP_CODE_CONTAINER_FLAG=:cached
DOCKER_HOST_IP=10.0.75.1
PHP_FPM_FAKETIME=-0
PHP_WORKER_PUID=#UID#
PHP_WORKER_PGID=#UID#
NGINX_SITES_PATH=./nginx/sites/
NGINX_LETSENCRYPT_PATH=./nginx/letsencrypt/
NGINX_SSL_PATH=./nginx/ssl/
NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443
DATA_PATH_HOST=#DATA_PATH_HOST#
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
REDIS_PORT=6379
COMPOSE_PROJECT_NAME=hefesto
COMPOSE_PATH_SEPARATOR=: